<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Home | Minimalio - Personal / Portfolio Minimal Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon Images -->
		<link rel="icon" href="img/favicon/favicon.ico">
        <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">		
		<!-- bootstrap css -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:600i%7CPoppins:300,400,500,600" rel="stylesheet">
		<!-- magnific popup css -->
		<link rel="stylesheet" href="css/magnific-popup.css">
		<!-- fontawesome css -->
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- owl carousel css -->
		<link rel="stylesheet" href="css/owl.carousel.css">		
		<!-- normalize css -->
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />		
		<!-- component css -->
		<link rel="stylesheet" type="text/css" href="css/component.css" />		
		<!-- main css -->
		<link rel="stylesheet" href="style.css">
		<!-- responsive css -->
		<link rel="stylesheet" href="css/responsive.css">
	    <!-- modernizr custom js -->
	    <script src="js/modernizr.custom.js"></script>
	</head>
	<body class="minimalio-indx-3">
		<!-- start minimalio-header-with-hero-section -->
        <div class="minimalio-header-with-hero-section">			
			<!-- start minimalio-header-section -->
			<header id="home" class="minimalio-header-section">
				<div class="container">
					<div class="row">
						<div class="minimalio-header">
							<!-- minimalio Header Logo -->
							<div class="col-md-4 col-sm-4 col-xs-6">
								<div class="minimalio-logo">						
									<a href="index.html">
										<img src="img/logo-new.png" alt="Logo Image">
									</a>
								</div>	<!-- end minimalio-logo -->
							</div> <!-- end minimalio Header Logo -->

							<!-- minimalio Header Menu -->
							<div class="col-md-8 col-sm-8 col-xs-6">					
								<div class="minimalio-menu-section">
					                <div class="minimalio-menu">
					                    <div class="minimalio-nav-icon" id="toggle">
						                    <span></span>
						                    <span></span>
						                    <span></span>
					                    </div>
					                </div> <!-- end minimalio-menu --> 

					                <div class="minimalio-overlay" id="minimalio-overlay-id">
					                    <nav class="minimalio-overlay-menu">
					                        <ul>
					                            <li><a href="#" data-value="home">Home</a></li>
					                            <li><a href="about.html" target="_self">About Us</a></li>
					                            <li><a href="portfolio.html" target="_self">Portfolio</a></li>
					                            <li><a href="blog.html" target="_self">Blog</a></li>  
					                            <li><a href="contact.html" target="_self">Contact Us</a></li>
											</ul>
					                    </nav>	<!-- end minimalio-overlay-menu -->
					                </div> <!-- end minimalio-overlay-menu -->
				            	</div> 	<!-- end minimalio-menu-section -->			
							</div> <!-- end minimalio header menu -->
						</div><!-- end minimalio-contact-header -->
					</div>	<!-- end row -->
				</div> <!-- end container -->
			</header> <!-- end minimalio-header-section -->
		
			<!-- start minimalio-hero-section -->
			<section class="minimalio-hero-section">
				<div id="minimalio-hero-slide">
					<div class="minimalio-hero-slide-item" style="background-image: url(http://via.placeholder.com/1600x850);">
						<div class="container">
							<div class="minimalio-welcome-section">
								<div class="minimalio-single-welcome-section">
									<h1><span>We</span> Think <span>&amp;</span><br> Create</h1>
									<p>Pixel Perfect &amp; Responsive <span>Website</span> For you</p>
									<a class="hero-btn" href="#">Contact</a>
								</div> <!-- end minimalio-single-welcome-section -->
							</div> <!-- end minimalio-welcome-section -->
						</div> <!-- end container -->
					</div>
					<div class="minimalio-hero-slide-item" style="background-image: url(http://via.placeholder.com/1600x850);">
						<div class="container">
							<div class="minimalio-welcome-section">
								<div class="minimalio-single-welcome-section">
									<h1><span>We</span> Are <span></span><br> Minimalio</h1>
									<p>Personal / Portfolio <span>Minimal</span> Template</p>
									<a class="hero-btn" href="#">Buy Now</a>
								</div> <!-- end minimalio-single-welcome-section -->
							</div> <!-- end minimalio-welcome-section -->
						</div> <!-- end container -->
					</div>
					<div class="minimalio-hero-slide-item" style="background-image: url(http://via.placeholder.com/1600x850);">
						<div class="container">
							<div class="minimalio-welcome-section">
								<div class="minimalio-single-welcome-section">
									<h2>Minimalist Design</h2>
									<h1>Awesome Portfolio</h1>
									<p>20+ HTML Files with design variety</p>
									<a class="hero-btn" href="#">Buy Now</a>
								</div> <!-- end minimalio-single-welcome-section -->
							</div> <!-- end minimalio-welcome-section -->
						</div> <!-- end container -->
					</div>
				</div>

			</section> <!-- end minimalio-hero-section -->
		</div>
		
		<!-- start minimalio-services-section -->
		<div id="work" class="minimalio-services-section">
			<div class="minimalio-services-menus">
				<div class="container">				
					<ul class="minimalio-lavalamp-darrow">
						<li class="minimalio-arrow-down"><a href="#" data-filter="*">All</a></li>
						<li class="minimalio-arrow-down"><a href="#" data-filter=".minimalio-uiux">Ui&UX</a></li>
						<li class="minimalio-arrow-down"><a href="#" data-filter=".minimalio-graphics">Graphics</a></li>
						<li class="minimalio-arrow-down"><a href="#" data-filter=".minimalio-flyer">Flyer</a></li>
						<li class="minimalio-arrow-down"><a href="#" data-filter=".minimalio-mockup">Mockup</a></li>
					</ul> <!-- end minimalio-lavalamp-darrow -->
				</div> <!-- end container -->
			</div>	<!-- end minimalio-services-menus -->
			
			<!-- start minimalio-services-content -->
			<div class="minimalio-services-content">
				<div class="container-fluid">
					<!-- Start minimalio-grid -->
					<div class="minimalio-grid minimalio-new-layout">
						  <div class="minimalio-grid-item minimalio-flyer">
						  	<div class="minimalio-img-container minimalio-new-service-item">
						  		<img src="http://via.placeholder.com/410x450" alt="Ui and Ux Image">
						  		<a href="http://via.placeholder.com/410x450">
							  		<div class="minimalio-hover-overlay">
							  			<div class="minimalio-hover">
							  				<span>+</span>
							  				<p>UI&amp;UX DESIGN</p>
							  			</div>
						  			</div>
						  		</a>
					  		</div>
						  </div>
						  <div class="minimalio-grid-item minimalio-graphics">
						  	<div class="minimalio-img-container minimalio-new-service-item">
						  		<img src="http://via.placeholder.com/370x490" alt="Graphics Design Image">
						  		<a href="http://via.placeholder.com/370x490">
						  			<div class="minimalio-hover-overlay">
							  			<div class="minimalio-hover">
							  				<span>+</span>
							  				<p>UI&amp;UX DESIGN</p>
							  			</div>
							  		</div>
						  		</a>
					  		</div>
						  </div>
						  <div class="minimalio-grid-item minimalio-flyer minimalio-graphics">
						  	<div class="minimalio-img-container minimalio-new-service-item">
					  			<img src="http://via.placeholder.com/570x410" alt="Mock Design Image">
					  			<a href="http://via.placeholder.com/570x410">				  				
							  		<div class="minimalio-hover-overlay">
							  			<div class="minimalio-hover">
							  				<span>+</span>
							  				<p>UI&amp;UX DESIGN</p>
							  			</div>
							  		</div>
					  			</a>
				  			</div>
						  </div>
						  <div class="minimalio-grid-item minimalio-mockup">
						  	<div class="minimalio-img-container minimalio-new-service-item">
						  		<img src="http://via.placeholder.com/410x356" alt="Flyer Design Image">
						  		<a href="http://via.placeholder.com/410x356">
							  		<div class="minimalio-hover-overlay">
							  			<div class="minimalio-hover">
							  				<span>+</span>
							  				<p>UI&amp;UX DESIGN</p>
							  			</div>
							  		</div>
						  		</a>
					  		</div>
						  </div>
						  <div class="minimalio-grid-item minimalio-uiux minimalio-flyer">
						  	<div class="minimalio-img-container minimalio-new-service-item">
						  		<img src="http://via.placeholder.com/570x540" alt="Ui and Ux Image">
						  		<a href="http://via.placeholder.com/570x540">
							  		<div class="minimalio-hover-overlay">
							  			<div class="minimalio-hover">
							  				<span>+</span>
							  				<p>UI&amp;UX DESIGN</p>
							  			</div>
							  		</div>
						  		</a>
					  		</div>
						  </div>
						  <div class="minimalio-grid-item minimalio-uiux minimalio-flyer">
						  	<div class="minimalio-img-container minimalio-new-service-item">
						  		<img src="http://via.placeholder.com/410x356" alt="Ui and Ux Image">
						  		<a href="http://via.placeholder.com/410x356">
							  		<div class="minimalio-hover-overlay">
							  			<div class="minimalio-hover">
							  				<span>+</span>
							  				<p>UI&amp;UX DESIGN</p>
							  			</div>
							  		</div>
						  		</a>
					  		</div>
						  </div>
						  <div class="minimalio-grid-item minimalio-mockup">
						  	<div class="minimalio-img-container minimalio-new-service-item">
						  		<img src="http://via.placeholder.com/410x646" alt="Mock Design Image">
						  		<a href="http://via.placeholder.com/410x646">
							  		<div class="minimalio-hover-overlay">
							  			<div class="minimalio-hover">
							  				<span>+</span>
							  				<p>UI&amp;UX DESIGN</p>
							  			</div>
							  		</div>			
						  		</a>
					  		</div>
						  </div>
						  <div class="minimalio-grid-item minimalio-uiux">
						  	<div class="minimalio-img-container minimalio-new-service-item">
						  		<img src="http://via.placeholder.com/370x460" alt="Ui and Ux Image">
						  		<a href="http://via.placeholder.com/370x460">
							  		<div class="minimalio-hover-overlay">
							  			<div class="minimalio-hover">
							  				<span>+</span>
							  				<p>UI&amp;UX DESIGN</p>
							  			</div>
							  		</div>
						  		</a>
					  		</div>
						  </div>
						  <div class="minimalio-grid-item minimalio-flyer">
						  	<div class="minimalio-img-container minimalio-new-service-item">
						  		<img src="http://via.placeholder.com/410x715" alt="Flyer Design Image">
						  		<a href="http://via.placeholder.com/410x715">
							  		<div class="minimalio-hover-overlay">
							  			<div class="minimalio-hover">
							  				<span>+</span>
							  				<p>UI&amp;UX DESIGN</p>
							  			</div>
							  		</div>
						  		</a>
					  		</div>
						  </div>
						  <div class="minimalio-grid-item minimalio-flyer minimalio-uiux">
						  	<div class="minimalio-img-container minimalio-new-service-item">
						  		<img src="http://via.placeholder.com/410x330" alt="Flyer Design Image">
						  		<a href="http://via.placeholder.com/410x330">
							  		<div class="minimalio-hover-overlay">
							  			<div class="minimalio-hover">
							  				<span>+</span>
							  				<p>UI&amp;UX DESIGN</p>
							  			</div>
							  		</div>
						  		</a>
					  		</div>
						  </div>
						  <div class="minimalio-grid-item minimalio-grid-item-w2 minimalio-graphics minimalio-uiux">
						  	<div class="minimalio-img-container minimalio-new-service-item">
						  		<img src="http://via.placeholder.com/970x480" alt="Mock Design Image">
						  		<a href="http://via.placeholder.com/970x480">
							  		<div class="minimalio-hover-overlay">
							  			<div class="minimalio-hover">
							  				<span>+</span>
							  				<p>UI&amp;UX DESIGN</p>
							  			</div>
							  		</div>
						  		</a>
					  		</div>
						  </div>
					</div> <!-- end minimalio-grid -->
					<div class="minimalio-load-more-2">
						<a href="#">Load More</a>
					</div> <!-- end minimalio-load-more -->
				</div>
			</div> <!-- end minimalio-services-content -->
		</div> <!-- end minimalio-services-section -->
		
		<!-- start minimalio-ceo-section  -->
		<section id="team" class="minimalio-ceo-section">
			<div class="minimalio-quote">
				<img src="img/quote.png" alt="Quote Image">
			</div>
			<div class="container">
				<div class="row">
					<div class="minimalio-ceo-descriptions">
						<!-- Start minimalio-ceo-intro -->
						<div class="minimalio-ceo-intro">
						    <div class="minimalio-navigation">
						    	<a href="#"><i class="fa fa-angle-left minimali-prev-nav"></i></a>
						    	<a href="#"><i class="fa fa-angle-right minimali-next-nav"></i></a>
						    </div> <!-- end minimalio-navigation -->
						    <div id="sync2" class="owl-carousel">
						      	<div class="item">
						      		<h2>MR. MICHAEL VIVEN</h2>
						      		<h3>CEO, SKYPE</h3>
								</div>
						     	<div class="item">
						      		<h2>MR. STEVE AUSTIN </h2>
						      		<h3>CEO, SKYPE</h3>
						  		</div>
						      	<div class="item">
						      		<h2>MR. JASON STATHAM</h2>
						      		<h3>CEO, SKYPE</h3>
						  		</div>
						      	<div class="item">
						      		<h2>MR. TOM CRUSE</h2>
						      		<h3>CEO, SKYPE</h3>
						  		</div>
						      	<div class="item">
						      		<h2>MR. JAMES BOND</h2>
						      		<h3>CEO, SKYPE</h3>
						  		</div>
						      	<div class="item">
						      		<h2>MR. STEVE WAUGH</h2>
						      		<h3>CEO, SKYPE</h3>
						  		</div>
						    </div> <!-- end sync2 -->
					    </div> <!-- end minimalio-ceo-intro -->

						<!-- Start minimalio-ceo-details-section -->
						<div class="minimalio-ceo-details-section">
						    <div id="sync1" class="owl-carousel">

						      	<div class="item minimalio-ceo-arrow-down">
									<div class="minimalio-ceo-details">
							    		<h2>Well Done Michael Viven!</h2>
										<p>It is a long established fact that a reader will be dn looking at its layout. The point of using Lorem Ipsum is that it has a normal distribution of letters.It is a long  The point of using Lorem Ipsum is that it has a normal distribution of letters.It is a long</p>
										<i class="fa fa-skype"></i>
									</div> <!-- end minimalio-ceo-details -->
								</div> <!-- end minimalio-ceo-arrow-down -->

								<div class="item minimalio-ceo-arrow-down">
									<div class="minimalio-ceo-details">
							    		<h2>Well Done Steve Austin!</h2>
										<p>It is a long established fact that a reader will be dn looking at its layout. The point of using Lorem Ipsum is that it has a normal distribution of letters.It is a long</p>
										<i class="fa fa-skype"></i>
									</div> <!-- end minimalio-ceo-details -->
								</div> <!-- end minimalio-ceo-arrow-down -->

								<div class="item minimalio-ceo-arrow-down">
									<div class="minimalio-ceo-details">
							    		<h2>Well Done Jason Statham!</h2>
										<p>It is a long established fact that a reader will be dn looking at its layout. The point of using Lorem Ipsum is that it has a normallong The point of using Lorem Ipsum is that it has a normal distribution of letters.It is a long</p>
										<i class="fa fa-skype"></i>
									</div> <!-- end minimalio-ceo-details -->
								</div> <!-- end minimalio-ceo-arrow-down -->

								<div class="item minimalio-ceo-arrow-down">
									<div class="minimalio-ceo-details">
							    		<h2>Well Done Tom Cruse!</h2>
										<p>It is a long established fact that a reader will be dn looking at its layout. The point of using Lorem The point of using Lorem Ipsum is that it has a normal distribution of letters.It is a longletters.It is a long</p>
										<i class="fa fa-skype"></i>
									</div> <!-- end minimalio-ceo-details -->
								</div> <!-- end minimalio-ceo-arrow-down -->

								<div class="item minimalio-ceo-arrow-down">
									<div class="minimalio-ceo-details">
							    		<h2>Well Done James Bond!</h2>
										<p>It is a long established fact that a reader will be dn looking at its layout. The point of using Lorem Ipsum is that it has a norm The point of using Lorem Ipsum is that it has a normal distribution of letters.It is a longal distribution of letters.It is a long</p>
										<i class="fa fa-skype"></i>
									</div> <!-- end minimalio-ceo-details -->
								</div> <!-- end minimalio-ceo-arrow-down -->

								<div class="item minimalio-ceo-arrow-down">
									<div class="minimalio-ceo-details">
							    		<h2>Well Done Steve Waugh!</h2>
										<p>Be dn looking at its layout. The point of using Lorem Ipsum is that it has a nor The point of using Lorem Ipsum is that it has a normal distribution of letters.It is a longmal distribution of letters.It is a long</p>
										<i class="fa fa-skype"></i>
									</div> <!-- end minimalio-ceo-details -->
								</div> <!-- end minimalio-ceo-arrow-down -->

						    </div> <!-- end sync1 -->
						</div> <!-- end minimalio-ceo-details-section -->
					</div> <!-- end minimalio-ceo-descriptions -->		
				</div> <!-- end row -->
			</div>	<!-- end container -->
		</section> <!-- end minimalio-ceo-section -->
			
		<!-- start minimalio-hire-me-section  -->
		<section id="hire-me" class="minimalio-hire-me-section">
			<div class="container">	
				<div class="row">
					<div class="minimalio-hire-me">
						<div class="col-md-4 col-md-offset-1 col-sm-4 col-xs-6 minimalio-hire-me-content">
							<h2 class="minimalio-arrow-right">I'M THE MAGICIAN <br> <strong>You</strong> <br> WANT ME TO BE</h2>
						</div>
						<div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-6 minimalio-hire-me-button">
							<a href="#">HIRE ME<i class="fa fa-paper-plane-o"></i></a>
						</div>
					</div> <!-- end minimalio-hire-me -->
				</div>	<!-- end row -->
			</div> <!-- end container -->	
		</section>	<!-- end minimalio-hire-me-section -->
		
		<!-- start minimalio-footer-section -->
		<footer class="minimalio-footer-section">
			<div class="minimalio-footer-arrow-down"></div> <!-- Start & And footer-arrow-down -->
			<div class="container">
				<div class="minimalio-footer">
					<div class="minimalio-footer-copyright">
						<p>COPY RIGHT &copy; 2017 WPCUP</p>
					</div>	<!-- end minimalio-footer-copyright -->
					<div class="minimalio-social-icons">
						<ul>
							<li><a href="#" class="minimalio-icon-twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="minimalio-icon-google-plus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="minimalio-icon-facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="minimalio-icon-pinterest"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div> <!-- end minimalio-social-icons -->
					<div class="minimalio-footer-bottom">
						<p class="minimalio-address"><strong>Address:</strong> YourCity, Your State, Newyork</p>
						<p class="minimalio-email"><strong>Email:</strong> name@email.com</p>
						<p class="minimalio-phone"><strong>Phone:</strong> 123.121.258.858</p>
					</div>	<!-- end minimalio-footer-bottom -->
				</div> <!-- end minimalio-footer -->
			</div> <!-- end container -->
		</footer> <!-- end minimalio-footer-section -->

        <!-- jquery official js -->
		<script src="js/jquery-3.1.1.min.js"></script>
		<!-- google map api js -->
		<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCy7becgYuLwns3uumNm6WdBYkBpLfy44k"></script>
		<!-- classie js -->
		<script src="js/classie.js"></script>
		<!-- stepsFrom js -->
		<script src="js/stepsForm.js"></script>
		<!-- lavalamp js -->
		<script src="js/jquery.lavalamp-1.4.min.js"></script>
		<!-- jquery appear js -->
		<script src="js/jquery.appear.js"></script>
		<!-- magnific popup js -->
		<script src="js/jquery.magnific-popup.min.js"></script>
		<!-- isotope js -->
		<script src="js/isotope.pkgd.min.js"></script>
		<!-- owl carousel min js -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- main js -->
		<script src="js/main.js"></script>
	</body>
</html>